/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height:4rem ;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color:hsl(176,88%,27%);
  --first-color-alt:hsl(129,44%,94%) ;
  --second-color:hsl(34,94%,87%) ;
  --title-color: hsl(0,0%,13%) ;
  --text-color: hsl(154,13%,32%) ;
  --text-color-light: hsl(60,1%,56%) ;
  --body-color: hsl(0,0%,100%);
  --container-color: hsl(0,0%,93%) ;
  --border-color: hsl(129,36%,85%) ;
  --border-color-alt: hsl(113,15%,90%) ;

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Lato',sans-serif;
  --second-font:  'Spartan', sans-serif;
  --big-font-size:3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size:  2rem;
  --h3-font-size:1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
    --large-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;
  }
}

/*=============== BASE ===============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}

body{
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4{
  font-family: var(--second-font);
  columns: var(--title-color);
  font-weight: var(--weight-600);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  line-height: 1.5rem;
}

img{
  max-width: 100%;
}

button,
textarea,
input{
  background-color: transparent;
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container{
  max-width:  1320px;
  margin-inline: auto;
  padding-inline: .75rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.section{
  padding-block: 2rem;
}

.section-lg{
  padding-block:  4rem;
}

.section-title{
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}

.section-title span{
  color: var(--first-color);
}

.form-input{
  border: 1px solid var(--border-color-alt);
  padding-inline: 1rem;
  height: 45px;
  background-repeat: .25rem;
  font-size: var(--small-font-size);
}

.flex{
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.new-price{
  color: var(--first-color);
  font-weight: var(--weight-600);
}

.old-price{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-decoration: line-through;
}

/*=============== HEADER & NAV ===============*/
.header-top{
  background-color: var(--first-color-alt);
  border-bottom: 1px solid var(--first-color);
  padding-bottom: 0.875rem;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contact span:first-child{
  margin-right: 2rem;
}

.header-contact span,
.header-alert-news,
.header-top-action{
  font-size: var(--small-font-size);
}

.header-alert-news{
  color: var(--text-color-light);
  font-weight: var(--weight-600);
}

.header-top-action{
  color: var(--text-color);
}

.nav,
.nav-menu,
.nav-list,
.header-user-actions{
  display: flex;
  align-items: center;
}

.nav{
  height: calc( var(--header-height) + 2.5rem);
  justify-content: space-between;
  column-gap: 1rem;
}

.nav-logo-img{
  width: 120px;
}

.nav-menu{
 flex-grow: 1;
  margin-left: 2.5rem;
}

.nav-list{
  column-gap: 2.5rem;
  margin-right: auto;
}

.nav-link{
  color: var(--title-color);
  font-weight: var(--weight-700);
  transition: all 0.2s var(--transition);
}

.header-search{
  width: 340px;
  position: relative;
}

.header-search .form-input{
  width: 100%;
}

.search-btn{
  position: absolute;
  top: 24%;
  right: 1.25rem;
  cursor: pointer;
}

.header-user-actions{
  column-gap: 1.25rem;
}

.header-action-btn{
  position: relative;
}

.header-action-btn img{
  width: 24px;
}

.header-action-btn .count{
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  background-color: var(--first-color);
  color: var(--body-color);
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--tiny-font-size);

}

/* Active link */
.active-link,
.nav-link:hover {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home-container{
  grid-template-columns: 5fr 7fr;
  align-items: center;
}

.home-subtitle,
.home-description{
  font-size: var(--large-font-size);
}

.home-subtitle{
  font-family: var(--second-font);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
  display: block;
}

.home-title{
  font-size: var(--h1-font-size);
  font-weight: var(--weight-700);
  line-height: 1.4;
}

.home-title span{
  color: var(--first-color);
  font-size: var(--big-font-size);
}

.home-description{
  margin-block: .5rem 2rem;
}

.home-img{
  justify-self: flex-end;
}

/*=============== BUTTONS ===============*/
.btn{
  display: inline-block;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  color: var(--body-color);
  padding-inline: 1.75rem;
  height: 49px;
  line-height: 49px;
  border-radius: .25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.4s var(--transition);
}

.btn:hover{
  background-color: transparent;
  color: var(--first-color);
}

.btn-md{
  font-family: var(--body-font);
  height: 45px;
  line-height: 42px;
}
/*=============== CATEGORIES ===============*/

.categories{
  overflow: hidden;
}

.category-item{
  text-align: center;
  border: 1px solid var(--border-color);
  padding: 0.625rem 0.625rem 1.25rem;
}

.category-img{
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

.category-title{
  color: var(--text-color);
  font-size: var(--small-font-size);
}


/* Swiper class */
.swiper{
  overflow: initial;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev{
  top: -1.875rem;
  background-color: var(--first-color-alt);
  border: 1px solid var(--border-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--first-color);
  font-size: var(--tiny-font-size);
}

.swiper-button-prev{
  left: initial;
  right: 2.5rem;
}

.swiper-button-next{
  right: 0;
}
/*=============== PRODUCTS ===============*/
.tab-btns {
  display: flex;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.tab-btn {
  background-color: var(--container-color);
  color: var(--title-color);
  padding: 1rem 1.25rem 0.875rem;
  border-radius: .25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  cursor: pointer;
}

.products-container{
  grid-template-columns: repeat(4, 1fr);
}

.product-item{
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  transition: all .2s var(--transition);
}

.product-banner{
  padding: 0.625rem 0.75rem 0.75rem;
}

.product-banner,
.product-images{
  position: relative;
}

.product-images{
  display: block;
  overflow: hidden;
  border-radius: 1.25rem;
}

.product-img{
  vertical-align: middle;
  transition: all 1.5s var(--transition);
}

.product-item:hover .product-img{
  transform: scale(1.1);
}

.product-img.hover{
  position: absolute;
  top: 0;
  left: 0;
}

.product-actions{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 0.5rem;
  transition: all .2s var(--transition);
}

.action-btn{
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--first-color-alt);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: var(--small-font-size);
  position: relative;
}

.action-btn::before,
.action-btn::after{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action-btn::before{
  content: "";
  top: -2px;
  border: .5rem solid transparent;
  border-top-color:var(--first-color) ;
}

.action-btn::after{
  content: attr(aria-label);
  bottom: 100%;
  background-color: var(--first-color);
  color: var(--body-color);
  font-size: var(--tiny-font-size);
  white-space: nowrap;
  padding-inline: 0.625rem;
  border-radius: 0.25rem;
  line-height: 2.58;
}

.product-badge{
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.25rem 0.625rem;
  border-radius: 2.5rem;
  font-size: var(--tiny-font-size);
}

.product-badge.light-pink{
  background-color: hsl(341,100%,73%);
}

.product-badge.light-green{
  background-color: hsl(155,20%,67%);
}

.product-badge.light-orange{
  background-color: hsl(24,100%,73%);
}

.product-badge.light-blue{
  background-color: hsl(202,53%,76%);
}

.product-content{
  padding: 0 1.25rem 1.125rem;
  position: relative;
}

.product-category{
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.product-title{
  font-size: var(--normal-font-size);
  margin-block: 0.75rem 0.5rem;
}

.product-rating{
  color: hsl(42,100%,50%);
  font-size: var(--smaller-font-size);
  margin-bottom: 0.75rem;
}

.product-price .new-price{
  font-size: var(--large-font-size);
}

.carts-btn{
  position: absolute;
  bottom: 1.6rem;
  right: 1.25rem;
}

/* Active Tab */
.tab-btn.active-tab{
  color: var(--first-color);
  background-color: var(--second-color);
}

.tab-item:not(.active-tab){
  display: none;
}

/* Product Hover */

.product-img.hover,
.product-actions,
.action-btn::before,
.action-btn::after,
.product-item:hover .product-img.default{
  opacity: 0;
}

.product-item:hover{
  box-shadow: 0 0 10px hsla(0,0%,0%,0.1);
}

.product-item:hover .product-img.hover,
.product-item:hover .product-actions,
.action-btn:hover::before,
.action-btn:hover::after{
  opacity: 1;
}

.action-btn:hover::before,
.action-btn:hover::after{
  transform: translateX(-50%) translateY(-0.5rem);
}

.action-btn:hover{
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: var(--body-color);
}

/*=============== DEALS ===============*/
.deals-container {
  grid-template-columns: repeat(2, 1fr);
}

.deals-item:nth-child(1){
  background-image: url(../img/deals-1.jpg);
}

.deals-item:nth-child(2){
  background-image: url(../img/deals-2.png);
}

.deals-item{
  padding: 3rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.deals-brand{
  color: var(--first-color);
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.deals-category{
  font-family: var(--second-font);
  font-size: var(--small-font-size);
}

.deals-title{
  max-width: 240px;
  font-size: var(--large-font-size);
  font-weight: var(--weight-400);
  line-height: 1.3;
}

.deals-price .new-price,
.deals-price .old-price{
  font-size: var(--large-font-size);
}

.deals-price .new-price{
  color: hsl(352,100%,60%);
}

.deals-countdown-text{
  margin-bottom: 0.25rem;
}

.countdown{
  display: flex;
  column-gap: 1.5rem;
}

.countdown-amount:after{
  content:":";
  color: var(--title-color);
  font-size: var(--large-font-size);
  position: absolute;
  right: -25%;
  top: 20%;
}

.countdown-period{
  background-color: var(--first-color);
  color: var(--body-color);
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: .25rem;
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  margin-bottom: .5rem;
}

.unit{
  font-size: var(--small-font-size);
  text-align: center;
  display: block;
}

.deals-btn .btn{
  background-color: transparent;
  color: var(--first-color);
}



/*=============== NEW ARRIVALS ===============*/
.new__arrivals{
  overflow: hidden;
}
/*=============== SHOWCASE ===============*/
.showcase-container{
  grid-template-columns: repeat(4,1fr);
}

.showcase-wrapper .section-title{
  font-size: var(--normal-font-size);
  border-bottom: 1px solid var(--border-color-alt);
  padding-bottom: .75rem;
  margin-bottom: 2rem;
  position: relative;
}

.showcase-wrapper .section-title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.3px;
  width: 50px;
  height: 2px;
  background-color: var(--first-color);
}

.showcase-item{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.showcase-item:not(:last-child){
  margin-bottom: 1.5rem;
}

.showcase-img{
  width: 86px;
}

.showcase-content{
  width: calc(100% - 110px);
}

.showcase-title{
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}
/*=============== NEWSLETTER ===============*/
.newsletter{
  background-color: hsl(166, 23%, 74%);
}

.home-newsletter{
  margin-top: 2rem;
}

.newsletter-container{
  grid-template-columns: repeat(2, 3.5fr) 5fr;
  align-items: center;
  column-gap: 3rem;
}

.newsletter-title{
  column-gap: 1rem;
  font-size: var(--large-font-size);
}

.newsletter-icon{
  width: 40px;
}

.newsletter-descreption{
  color: var(--title-color);
  font-family: var(--second-color);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
}

.newsletter-form{
  display: flex;
}

.newsletter-btn{
  font-size: var(--small-font-size);
}

.newsletter-input{
background-color: var(--body-color);
padding-inline:1.25rem ;
width: 100%;
height: 48px;
border-radius: 0.25rem 0 0 0.25rem;
}

.newsletter-btn{
  background-color: var(--title-color);
  color: var(--body-color);
  padding-inline: 2rem;
  border-radius: 0 .25rem 0.25rem 0;
  font-family: var(--second-font);
  font-weight: var(--weight-500);
  letter-spacing: .5px;
  cursor: pointer;
  transition: all 0.3s var(--transition);
}

.newsletter-btn:hover{
  background-color: var(--first-color);
}


/*=============== FOOTER ===============*/
.footer-container{
  grid-template-columns:4.5fr repeat(2, 2fr) 3.5fr;
  padding-block: 2.5rem;
}

.footer-logo-img{
  width: 120px;
}

.footer-subtitle{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-block: 1.25rem 0.625rem;
}

.footer-description{
  margin-bottom: 0.25rem;
}

.footer-description span{
  font-weight: var(--weight-600);
}

.footer-social
 .footer-subtitle{
  margin-top: 1.875rem;
}

.footer-social-links{
  column-gap: 0.25rem;
}

.footer-social-icon{
  width: 20px;
  opacity: 0.7;
}

.footer-title{
  font-size: var(--large-font-size);
  margin-block: 1rem 1.25rem;
}

.footer-link{
  color: var(--title-color);
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  display: block;
  transition: all .3s var(--transition);
}

.footer-link:hover{
  color: var(--first-color);
  margin-left: 0.25rem;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding-block: 1.25rem;
  border-top: 1px solid var(--border-color-alt);
}

.copyright,
.designer{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}
/*=============== BREADCRUMBS ===============*/
.breadcrumb{
  background-color: var(--container-color);
  padding-block: 1.5rem;
}

.breadcrumb-list{
  column-gap: .75rem;
}

.breadcrumb-link{
  color: var(--text-color);
  font-size: var(--small-font-size);
}
/*=============== SHOP ===============*/
.total-products{
  margin-bottom: 2.5rem;
}

.total-products span{
  color: var(--first-color);
  font-weight: var(--weight-600);
}

.pagination{
  display: flex;
  column-gap: 0.625rem;
  margin-top: 2.75rem;
}

.pagination-link{
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: .25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.15s var(--transition);
}

.pagination-link.active,
.pagination-link:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}

.pagination-link.icon{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/*=============== DETAILS ===============*/

/*=============== DETAILS INFO & REVIEWS ===============*/

/*=============== CART ===============*/

/*=============== CART OTHERS ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== COMPARE ===============*/

/*=============== LOGIN & REGISTER ===============*/

/*=============== ACCOUNTS ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
